body {
    font-family: 'Roboto', sans-serif; /* Шрифт для текста */
    color: #434455; /* Цвет текста */
    background-color: #FFFFFF; /* Цвет фона */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif; /* Шрифт Raleway для заголовков */
}
.header {
  
  justify-content: space-between;
 
  background: #fff;
}

.header__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; /* Задаёт цвет текста */
}

.header__logo-part-white {
 
  text-decoration: none;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header__nav {
  
  margin: 0;
  
}

.header__nav-list {
  
  margin: 0;
  list-style: none; /* Убираем маркеры списка */
}

.header__nav-item {
  
  
}

.header__nav-link {
  text-decoration: none;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  right: 322px;
}
.header__nav-link:hover,
.header__nav-link:focus{
    color: #404bbf; /* Цвет при наведении и фокусе */
}

.header__contact-info {
  
  font-style: normal;
}

.header__contact-list {
  list-style: none;
  

  margin: 0;
}

.header__contact-item {
  
  
}
.header__contact-link {
  margin-right: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header__contact-link:hover,
.header__contact-link:focus{
    color: #404bbf; /* Цвет при наведении и фокусе */
}

.main-content__intro {
  
  
  justify-content: center; /* Центрируем элементы по вертикали */
  
  background: #2e2f42;
}

.main-content__title {
  
  margin-bottom: 10px; /* Отступ между текстом и кнопкой */
  margin-bottom: 48px;
  font-size: 56px; /* Укажите желаемый размер шрифта */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
 line-height: 1.07;
}

.main-content__button {
  
  justify-content: center; /* Центрирует текст внутри кнопки */
  
  white-space: nowrap; /* Запретить перенос текста на новую строку */

  
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;

}
.main-content__button:hover,
.main-content__button:focus{
    background-color: #404BBF;
}


.main-content__features {
  margin-top: 50px;
  
 
  
  margin-bottom: 60px;
  
}

.main-content__feature-list {
  
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  
}

.main-content__feature-item {
  flex: 1 1 calc(20% - 20px); /* Уменьшите ширину, например, до 20% */
  
  
}

.main-content__feature-title {
  margin-bottom: 8px; /* Отступ между заголовком и описанием */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-content__feature-description {
  
  line-height: 1.6; /* Увеличьте межстрочный интервал для лучшего восприятия */
  white-space: pre-line; /* Сохраняет переносы строк */
  text-align: left; /* Выравнивание текста по левому краю */
  margin: 0 auto; /* Центрирует текст внутри блока */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}

.main-content__team {
  background-color: #f4f4fd; /* Фон для родительского контейнера */
  
  
  
  justify-content: center; /* Центрирует контент по вертикали */
  
}

.main-content__subtitle {
  margin-bottom: 100px;
  
  
  text-align: center;
 
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
 line-height: 1.11;
 text-transform: capitalize;
}

.main-content__team-list {
  
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */

}

ul {
  list-style-type: none; /* Убирает маркеры */
  
  margin: 0; /* Убирает внешние отступы */
}

.main-content__team-member {
  flex: 1 1 calc(15% - 20px); /* Уменьшите ширину */
  
  
  min-width: 200px; /* Минимальная ширина */
  min-height: 200px; /* Увеличьте, если нужно */
  overflow: hidden; /* Скрывает переполняющий контент */
  margin: 0; /* Убираем внешний отступ */
  background: #fff;
}

.main-content__team-img {
  max-width: 100%; /* Изображение не превышает ширину карточки */
 
  background: url("path_to_image");
}

.main-content__team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.main-content__team-role {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.footer {
  
  justify-content: center; /* Центрирует контейнер по горизонтали */
  
  
  
  background: #2e2f42;
}
.footer__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; /* Задаёт цвет текста */
}
.footer__logo_white{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd
}
.footer__description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
a {
  text-decoration: none;
}
.portfolio{
    background-color: #f4f4fd; /* Фон для родительского контейнера */
  
    
}

.portfolio__title{  
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio__list{   

}
.portfolio__item{   

}
.portfolio__image{   

}
.portfolio__item-title{   
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio__item-category{  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

